<a class = "btn btn-lightGrey ml-5 btn-sm" href = "{{path('setRole', {'username': usuario.username, 'rol': 'ROLE_ENVIO_3°'} )}}">Envío a 3°</a>
<a class = "btn btn-lightGrey ml-5 btn-sm" href = "{{path('setRole', {'username': usuario.username, 'rol': 'ROLE_RECEPCION_3°'} )}}">Recepción en 3°</a>
<a class = "btn btn-lightGrey ml-5 btn-sm" href = "{{path('setRole', {'username': usuario.username, 'rol': 'ROLE_REINGRESO_3°'} )}}">Reingreso de 3°</a>
<a class = "btn btn-lightGrey ml-5 btn-sm" href = "{{path('setRole', {'username': usuario.username, 'rol': 'ROLE_DEVOLUCION_3°'} )}}">Devolución de 3°</a>