{% if (caracteristica == 1) %}
    <span class="badge badge-primary">A Nitrurar</span>
{% elseif ( caracteristica == 2 ) %}
    <span class="badge badge-primary">A PVD</span>
{% elseif ( caracteristica == 3 ) %}
    <span class="badge badge-primary">A Mecanizado</span>
{% endif %}