<div class="well" style="width:500px;">
  <div>
    <b colspan="3" class="text-center">Resumen</b>
  </div>
  <table class="table table-striped table-hover table-condensed"  cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>De</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="badge badge-success">Basso S.A</span></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="badge badge-info">MotorParts P.I</span></td>
        <td></td>
      </tr>
      <tr>
        <td><span class="badge badge-secondary">MotorParts LEH</span></td>
        <td></td>
      </tr>
    </tbody>
    <tfooter>
      <tr>
        <th class="">Total:</th>
        <th class=""></th>
      </tr>
    </tfooter>
  </table>
</div>
<br>