<div class="well" style="width:500px;">
  <div>
    <b colspan="3" class="text-center">Resumen</b>
  </div>
  <table class="table table-hover table-condensed"  cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>De</th>
        <th class="text-center">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5><span class="badge bassoColor">Basso S.A</span></h5></td>
        <td class="text-center">{{amountValvulas['Basso']}}</td>
      </tr>
      <tr>
        <td><h5><span class="badge piColor">MotorParts P.I</span></h5></td>
        <td class="text-center">{{amountValvulas['P.I']}}</td>
      </tr>
      <tr>
        <td><h5><span class="badge lehColor">MotorParts LEH</span></h5></td>
        <td class="text-center">{{amountValvulas['LEH']}}</td>
      </tr>
    </tbody>
    <tfooter>
      <tr>
        <th class="">Total:</th>
        <th class="text-center">{{amountValvulas['Total']}}</th>
      </tr>
    </tfooter>
  </table>
</div>
<br>