{% if tipoAccion == 1 %}
    <h6 class="text-center">Envío Válvulas a 3°</h6>
{% elseif tipoAccion == 2 %}
    <h6 class="text-center">Reingreso Válvulas de 3°</h6>
{% elseif tipoAccion == 3 %}
    <h6 class="text-center">Recepción Válvulas en 3°</h6>
{% elseif tipoAccion == 4 %}
    <h6 class="text-center">Devolución Válvulas de 3°</h6>
{% endif %}