{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Válvulas {% endblock %}

{% block body %}

<!-- HEADER -->
<div class="row"> 

  {% include 'valvula/_filteringTable.html.twig' with {'filterForm': filterForm } %}

  {% include 'valvula/_actionsHeader.html.twig' with {'filterForm': filterForm, 'tipoCaracteristica': tipoCaracteristica } %}
 
</div>
<!-- END HEADER -->

<!-- TABLE  -->

{% include 'valvula/_table.html.twig' with {'valvulas': valvulas } %}

<!-- END TABLE -->

<!-- TOTAL -->
{% include 'valvula/_resumenTotal.html.twig' with {'recordsValvulas': recordsValvulas, 'amountValvulas': amountValvulas} %}
<!-- END TOTAL -->


<!-- FOOTER TABLE -->
{% include 'valvula/_footerTable.html.twig' with {'totalOfRecordsString': totalOfRecordsString, 'pagerHtml': pagerHtml } %}
<!-- END FOOTER TABLE -->

{% endblock %}

{% block javascript %}
  {{ parent()}}
  <script src="{{asset('js/backPage.js')}}"></script>
{% endblock %} 