/* navbar */
.bg-basso-red {
  background-color: #BD2821 !important;
}

.navbar .navbar-nav > li > a {
    color: #fff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    font-weight: bold;
}

.bg-basso-red .navbar-toggler {
  border-color: #fff;
}
.bg-basso-red .navbar-toggler:hover,
.bg-basso-red .navbar-toggler:focus {
  background-color: transparent;
}
.bg-basso-red .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* cambiar fuente por default*/
/*
dropdown font
button font
popover font
input-group font
forms font
reboot font
*/
body {
  font-size: 0.875rem;
  line-height: 1.5;
}

.btn {
  font-size: 0.875rem;
}
.form-control {
  font-size: 0.875rem;
}
/* fin cambio de fuente*/

/* Fix btn-xs*/
.btn-group-xs > .btn, .btn-xs {
  padding  : .50rem .50rem;
  font-size  : .825rem;
  line-height  : .5;
  border-radius : .2rem;
}
/* Fin Fix btn-xs*/

/*custom table-sm*/
.table-sm th, .table-sm td {
  padding: 0.375rem;
}
/*custom table-sm*/

.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../images/loading.gif') 
        50% 50% 
        no-repeat;
    opacity: 0.80;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
    filter: alpha(opacity = 80);
}

.required:after {
    content: " *";
    color:red;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow .75s linear infinite;
  animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

.breadcrumb{
  background-color: #f8f9fa !important;
}

h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #108A97;
}

.alert-correcto{
  background-color: rgb(181, 236, 213);
  border: none;
  padding: 15px;
  margin-top: 20px;
  margin-right: 10px;
  position: fixed;
  z-index: 100;
  border-radius: 5px;
  margin-left: 70%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
  color: black;
}
.alert-error{
  background-color: rgb(219, 94, 112);
  border: none;
  padding: 15px;
  margin-top: 20px;
  margin-right: 10px;
  position: fixed;
  z-index: 100;
  border-radius: 5px;
  margin-left: 70%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
  color: black;
}

.dropdown-menu :hover{
  background-color: #F0F0F0;
}

.logoBasso :hover{
  transform: scale(1.1);
  transition: 1s;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1200px;
  }
}