{% if (caracteristica == 1) %}
    <h5 id="caracteristicaTable" class="text-center text-primary">Nitrurar</h5>
{% elseif ( caracteristica == 2 ) %}
    <h5 id="caracteristicaTable" class="text-center text-primary">PVD - Nitruro de Cromo</h5>
{% elseif ( caracteristica == 3 ) %}
    <h5 id="caracteristicaTable" class="text-center text-primary">Mecanizado Final</h5>
{% elseif ( caracteristica == 4 ) %}
    <h5 id="caracteristicaTable" class="text-center text-primary">Forja - Tratamiento térmico</h5>
{% elseif ( caracteristica == 5 ) %}
    <h5 id="caracteristicaTable" class="text-center text-primary">Huecas a perforar</h5>
{% endif %}